<div class="row">
  <div class="col-5" style="width: 37%">
    <app-toll-count-info></app-toll-count-info>
  </div>
  <div class="col-7 row p-0">
    <app-alerts class="col-6 pr-0" [alertsData]="alertsData" [alertsTotal]="alertsData.length"></app-alerts>
    <app-recommendation class="col-6 pr-0" [recommendationData]="recommendationData"
      [recommendationTotal]="recommendationData.length"></app-recommendation>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-toll-table></app-toll-table>
    <app-pms></app-pms>
  </div>
</div>