<div>
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>

    <div class="row">
      <div class="col-9">
        <div class="card-footer text-muted fixed-bottom py-1">
          <div class="ml-auto text-right" style="color: white">
            Powered by Jaitra Inc JV Appraam Labs Pvt. Ltd.
          </div>
        </div>
      </div>
    </div>

  </div>

</div>